body
{
    margin: 0;
    padding: 0;
}

.header{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.3)),url("bg_pic.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

h1
{
    color: #FFFFFF;
    margin-bottom: 120px;
    font-size: 45px;
    letter-spacing: 2px;
    text-align: center;
}

.search-input{
    height: 40px;
    width: 500px;
    border: 25px;
    border-radius: 25px;
    outline: none;
    text-indent: 10px;
}

.search-btn {
    height: 40px;
    width: 70px;
    background: #f2c00a;
    border: none;
    color: #fff;
    border-radius: 20px;
    font-size: inherit;
}